APP_NAME=Laravel
APP_ENV=local
APP_KEY=base64:kJoLjj2LHDFMgpsZqfqbB5ONkfNmvQIDNcCa3sLJqcw=
APP_DEBUG=true
APP_URL=http://localhost

LOG_CHANNEL=stack

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=msi
DB_USERNAME=root
DB_PASSWORD=

BROADCAST_DRIVER=log
CACHE_DRIVER=file
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=5c0e78d547e1ce
MAIL_PASSWORD=501c53fab683e9
MAIL_ENCRYPTION=tls
MAIL_FROM=prabhat@gmail.com
MAIL_NAME=Prabhat
MAIL_FROM_ADDRESS=prabhatk1125@gmail.com
MAIL_FROM_NAME=prabhat
